*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: rgb(66, 66, 66);
}

#game {
	transform: scale(1);
	position: relative;
	width: 1216px;
	height: 832px;
}

@media (max-height: 849px) {
	#game {
		transform: scale(0.8);
	}
}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	background-image: url('assets/Grass_Tile_lower.png');
	background-size: contain;
}

.row:first-child .cell {
	background-image: url('assets/Grass_Tile_Flat.png');
}

.cell[data-row='12'] {
	background-image: url('assets/Grass_Tile_Flat.png');
	transform: rotate(180deg);
}

.row .cell:last-child {
	background-image: url('assets/Grass_Tile_Flat_r.png');
}

.row:first-child .cell:first-child {
	background-image: url('assets/Grass_Tile_Corner_Edge_l.png');
}

.row:first-child .cell:last-child {
	background-image: url('assets/Grass_Tile_Corner_Edge_r.png');
}

.row .cell:first-child {
	background-image: url('assets/Grass_Tile_Flat_l.png');
}

.cell[data-row='12'][data-cell='0'] {
	background-image: url('assets/Grass_Tile_Corner_Edge_r.png');
}

.cell[data-row='12'][data-cell='18'] {
	background-image: url('assets/Grass_Tile_Corner_Edge_l.png');
}

.flex {
	display: flex;
}

.cell {
	width: 64px;
	height: 64px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.wall {
	width: 64px;
	height: 64px;
	background-color: black;
	background-image: url('./assets/EmptyBlock.png');
}

.destroyable {
	width: 64px;
	height: 64px;
	background-image: url('./assets/BrickBlock.png');
}

.bomb {
	position: absolute;
	width: 64px;
	height: 64px;
	background-position: 0 0;

	animation: bomb 2s linear;
}

@keyframes bomb {
	0% {
		background-image: url('./assets/tile079.png');
	}
	20% {
		background-image: url('./assets/tile080.png');
	}
	40% {
		background-image: url('./assets/tile081.png');
	}
	60% {
		background-image: url('./assets/tile082.png');
	}
	80% {
		background-image: url('./assets/tile083.png');
	}
	100% {
		background-image: url('./assets/tile084.png');
	}
}

.explosion {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/explode.png');
	animation: explode 1s steps(6);
	z-index: 4;
}

@keyframes explode {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -384px 0;
	}
}

.power1 {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/powerup1.png');
	z-index: 1;
}

.power2 {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/powerup2.png');
	z-index: 1;
}

.power3 {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/powerup3.png');
	z-index: 1;
}

#player1 {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/player1.png');
	background-position: 0 0;
	z-index: 2;
}

#player2 {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/player2.png');
	background-position: 0 0;
	z-index: 2;
}

#player3 {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/player3.png');
	background-position: 0 0;
	z-index: 2;
}

#player4 {
	position: absolute;
	width: 64px;
	height: 64px;
	background-image: url('./assets/player4.png');
	background-position: 0 0;
	z-index: 2;
}

.damaged {
	animation: invulnerability 2s steps(10, end);
}

@keyframes invulnerability {
	0%,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	100% {
		opacity: 0;
	}

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85% {
		opacity: 100;
	}
}
