*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(66, 66, 66);
}

#game {
  transform: scale(0.8);
  position: relative;
}

.flex {
  display: flex;
}

.cell {
  width: 64px;
  height: 64px;
  background-color: red;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wall {
  width: 64px;
  height: 64px;
  background-color: black;
  border: 1px solid black;
}

.destroyable {
  width: 64px;
  height: 64px;
  background-color: orange;
  border: 1px solid rgb(0, 255, 13);
}

.bomb {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/bomb64.png");
  background-position: 0 0;
}

.explosion {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/explode.png");
  animation: explode 1s steps(6);
}

@keyframes explode {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -384px 0;
  } /* Adjust this based on your frame sheet */
}

.power1 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/powerup1.png");
}

.power2 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/powerup2.png");
}

.power3 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/powerup3.png");
}

#player1 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/player-sprite-sheet1.png");
  border: 1px solid green;
  background-position: 0 0;
}

#player2 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/player-sprite-sheet1.png");
  background-position: 0 0;
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/player-sprite-sheet1.png");
  background-position: 0 0;
  z-index: 1;
}

#player3 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/player-sprite-sheet1.png");
  background-position: 0 0;
}

#player4 {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/player-sprite-sheet1.png");
  background-position: 0 0;
}
